node_modules
.wwebjs_auth
.wwebjs_cache

# Generated folders
audio
img
pdf
video

# File types
*.mp4
*.pdf
*.sqlite
*.tex
*.aux
*.log
*.txt
*.ps1

# Sensitive credentials
.env
/data/*.json
/fixedData/
